In [1]:
%pylab inline
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from scipy import stats

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_excel("CellPosition.xlsx")
data

      TimePoint  Cell           X           Y
0             1     1   70.355226  281.929641
1             1     2  286.481238  443.667109
2             1     3  235.463053  165.427555
3             1     4  373.718139  285.339908
4             1     5  150.629151  222.253763
...         ...   ...         ...         ...
1195        200     2  259.915490  412.337751
1196        200     3   58.249060  114.612479
1197        200     4  246.633381  153.021582
1198        200     5  147.199778  331.140446
1199        200     6  261.448323   30.203578

[1200 rows x 4 columns]

In [8]:
cell_displacement = {}
for index, group in data.groupby("Cell"):
    cell_displacement

1
2
3
4
5
6